/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .product-testimonials {
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wbcom_rating {
    color: #ffcc00 !important; 
    font-size: 1.2em;
}